@media (min-width: 1024px) {
    
}
@media (min-width: 740px) and (max-width: 1023px) {

}
/* Mobile*/
@media (max-width: 739px) {
    
    html{

    }
    
    #header{
        overflow: hidden;
    }
    #header .nav-home{
        display: inline-block;
    }
    #header .search-btn{
        display: none;
    }   
    #header .mobile-menu-btn{
        color: white;
        height: 46px;
        float: right;
        padding: 12px 24px;
        font-size: 18px;
        display: block;
        
    }
    #header .mobile-menu-btn:hover{
        background-color: #ccc;
        color: #000;
    }
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav .subnav{
        position: initial;
        background: #333;

    }
    #nav .subnav > li > a {
        color: white;
        padding: 10px 42px;
    }
    #contain .member-item{
        margin-top: 30px;
        width: 100%;
    }
    #contain .member-item img{
        width: 60%;
    }

    .tour-section .place-item{
        width: 100%;
        margin-top: 20px;
    }
    .contact-info{
        width: 100%;
        font-size: 15px;
        padding-top: 15px;
    }
    .contact-send{
        width: 100%;

    }
    .contact-send .submit-btn{
        font-size: 18px;
        margin-top: 10px;
    }
    .contact-send .submit-btn{
        width: 100%;
        font-size: 13px;

    }
    .contact-send .submit-btn{
        padding: 16px 20px;
    }
    .social{
        font-size: 49px;
    }
    .copy-right{
        margin-top: 10px;
        font-size: 20px;
    }

    
}