*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Common */
html{
    font-family: Arial, Helvetica, sans-serif ;
    scroll-behavior: smooth;
}
.clear{
    clear: both;
}
.text-white{
    color: #fff;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}

/* Main */
#main{

}
/* Header */
#header{
    height: 45px;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
#nav {
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
    min-width: 220px;
}
#nav > li {
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav > li> a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
#nav  li  a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a, #nav > li:hover > a{
    color: #000;
    background-color: rgb(170, 165, 165);
}

#nav .subnav {
    display: none ;
    min-width: 200px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px;
    left: 0;
    top:100%;

}
#nav .subnav a{
    color:#000;
    padding: 0 7px;
    line-height: 35px;
    
}
#header .ti-search{
    color: #fff;
    font-size: 16px;
    line-height: 46px;
}

#header .search-btn, #header .mobile-menu-btn{
    float: right;
    padding: 0 16px;

}

#header .search-btn:hover{
    color: #fff;
    background-color: red ;
}

#header .mobile-menu-btn{
    position:absolute;
    top: 0;
    right: 0;
    display: none;
}
/* Slider*/ 
.slider {
    position: relative;
    padding-top: 50%;
 
    width: 100%;
    background: url(https://www.w3schools.com/w3images/ny.jpg) top center/ cover no-repeat;
}
#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text-heading {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#slider .text-description {
    font-size: 20px;
    margin-top: 15px;
    text-shadow: 0 0 1px black;
}

/* Contain*/

#contain{
    
}

#contain .contain-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 112px;
    
    
}
#contain .section-heading{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 3px;
    
}

#contain .section-sub-heading{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 15px;
    opacity: 0.6;

}
#contain .about-text{
    text-align: justify;
    font-size: 15px;
    line-height: 1.6;
}

#contain .member-list{
    overflow: hidden;
    padding: 32px 0;
    
}

#contain .member-item{
    float: left;
    width: 33.333333%;
    text-align: center;
    
}
#contain .member-name{
    font-size: 15px;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
#contain .member-avatar{
    width: 154px;
    border-radius: 5px;
       
}

.tour-section   {
    background-color:#000 ;
}
.tour-section .ticket-list{
    background-color: #fff;
    margin-top: 40px;
}
.tour-section .ticket-list li{
    height: 40px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
    color: #757575;
    font-size: 15px;
    line-height: 1.6;
}
.ticket-list .sold-out{
    background-color: red;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity{
    float: right;
    height: 24px;
    width: 24px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 24px;  
    border-radius: 50%;
    margin-top: -3px;
}
.place-list{
    overflow: hidden;
    
}
.place-item{
    
    width: 33.33333%;

    
}
.place-img{
    width: 100%;
    display: block;

}
.place-img:hover{
    background-color: #000;
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 0 16px;
    font-size: 15px;

}
.place-heading{
    line-height: 1.5;
    padding: 15px 0;
    font-weight: 600;

}

.place-date{
    padding-bottom: 15px;
    opacity: 0.7;
    line-height: 1.5;
}
.place-description{
    line-height: 1.5;
    padding-bottom: 15px;
    line-height: 1.6;

}
.place-buy-btn{
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    line-height: 1.6;
    text-align: center;
    padding: 11px 16px;
    margin-top: 18px;
    margin-bottom: 16px;
    
}
.place-buy-btn:hover{
    background-color: #ddd;
    color: #000;
    
}

/* Modal */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0,0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
    
}
.modal.open{
    display: flex;
}

.modal-contain{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 60px);
    min-height: 300px;
    position: relative;
    animation: modalFadein  ease 1s ;
}

.modal-contain .modal-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 8px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.modal-contain .modal-close:hover{
    background-color: #ccc;
    margin-top: 4px;
    color: red;
}
.modal-header {
    background-color: #009688;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    letter-spacing: 4px;
    font-weight: 400;
    color: #fff;
}

.modal-header .ti-bag{
    margin-right: 16px;
}
.modal-body {
    padding: 0px 16px ;
}

.modal-label {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    padding-bottom: 12px;
    padding-top: 8px;

}

.modal-input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 16px;

}
#modal-pay{
    background-color: #009688;
    border: none;
    width: 100%;
    padding: 16px;
    font-size: 15px;
    color: #fff;
    margin-top: 8px;
    margin-bottom: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

#modal-pay:hover{
    background-color: #ccc;
    color: #000;
}

.modal-footer {
    padding: 16px;
    float: right;
    font-size: 15px;
}

.modal-help {

}

@keyframes modalFadein{
    from{
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0);
    }
}
/* Contact*/
.contact-contain{
    padding-top: 32px;
    padding-bottom: 32px;
    
}   
.contact-info { 
    font-size: 18px;
    line-height: 1.6;
    padding-top: 20px;
}

.contact-info i{
    padding-right: 10px;
    display: inline-block;
}
.contact-send{
    font-size: 15px;
    padding-top: 20px;
    
}

.form-control{
    padding: 8px;
    margin-bottom: 8px;
    border: 1px #ccc solid;
    width: 100%;
}
.col .col-full >input{
    margin-bottom: 10px;
}

.contact-send .submit-btn{
    background-color: #000;
    font-size: 15px;
    color: #fff;
    padding: 8px 16px;
    float: right ;
    cursor: pointer;
    border: none;
}
.contact-send .submit-btn:hover{
    background-color: #ccc;
    color: black;
}
.map-section img {
    width: 100%;

}
    

#footer{
    padding: 64px 16px;
    text-align: center;
}
.social {
    font-size: 24px;
    text-decoration: none;
}
.social a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
}
.social a:hover{
    
    color: #ccc;
}
.copy-right{
    font-size: 15px;
    opacity: 0.6;
}
.contact-info-mobile{
    color: black;
}
.contact-info-email{
    color: #000;
}